{% extends "base.html" %}

{% block page_title %}
    Detalhes do orçamento - Equipamentos
{% endblock page_title %}

{% block content %}
    <h2>{{quotation.proposal_id}} - Revisão {{quotation.quotation_version}}</h2>
    <p><strong>Nome do Cliente:</strong> {{ quotation.client_name }}</p>
    <p><strong>Data de Criação:</strong> {{ quotation.creation_date }}</p>

    <a href="{% url "insert_product" %}" class="btn btn-success">Adicionar produto</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tipo</th>
            <th scope="col">Modelo</th>

        </tr>
        </thead>
        <tbody>
            {% for equipment in equipments %}
                <tr>
                    <th scope="row">{{ equipment.id }}</th>
                    <td>{{ equipment.product_type }}</td>
                    <td>{{ equipment.procut_model }}</td>

                </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhum equipamento encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
